/* HTML: <div class="swirl"></div> */
body {
    background-color: #75cbd1;
    margin: 0;
    overflow: hidden;
}

#swirl {
    top: 0px;
    left: 0px;
    --radius: 150px;
    --color1: #75cbd1;
    --color2: #d175cb;
  
    height: calc(2 * var(--radius));
    aspect-ratio: 1;
    /* clip-path: circle(); */
    display: flex;
    position: absolute;
    top: var(--top);
    left: var(--left);
  }
  #swirl:before,
  #swirl:after {
    content: "";
    flex: 1;
    --gradient1: radial-gradient(50% 50%, var(--color1) 99%, #0000) no-repeat;
    --gradient2: radial-gradient(50% 50%, var(--color2) 99%, #0000) no-repeat;
    background: var(--gradient1) calc(sin(60deg) * var(--radius)) calc(var(--radius) / -2),
        var(--gradient2) calc(var(--radius) / 2) calc(sin(-60deg) * var(--radius)),
        var(--gradient1) 0 calc(-1 * var(--radius)), 
        var(--gradient2) calc(var(--radius) / -2) calc(sin(-60deg) * var(--radius)), 
        var(--gradient1) calc(sin(-60deg) * var(--radius)) calc(var(--radius) / -2), 
        var(--gradient2) calc(-1 * var(--radius)) 0, 
        var(--gradient1) calc(sin(-60deg) * var(--radius)) calc(var(--radius) / 2);
    background-size: 200%;
  }

  #swirl:after {
     rotate: 180deg;
  }